
<html>
<body style="background-color: #367c83">
<center>
    <img src="{{qr_code_username}}">
    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">ᕲUCO Address: Faucet_Furimos_Funds</h1> 

  <br>
    <a href="/howitworks"style="color:#212121; font-family: Arial, Helvetica, sans-serif; font-size:30px;">Click me if u want to know how website works</a>

    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">Duco is worth about:<b style="color:#f5cd79"> {{gud_price_of_duco}} $</b> </h1>
    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">Balance of this account have:<b style="color:#f5cd79"> {{gud_balance_duco}} ᕲ</b> </h1>
    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">So whole account is worth:<b style="color:#f5cd79"> {{rounded_ducos_all_sum_var}} $</b> </h1>


    
    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">Last donators:</h1>

    <h1 style="color:white; font-family: Arial, Helvetica, sans-serif">{{what}}</h1>
   
   
   
  </center>
  </body>
</html>